<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <link rel="stylesheet" type="text/css" href="/styles.css">
</head>
<body>
  <h1><%= title %></h1>
  <ul>
    <% messages.forEach(function(message) { %>
      <li>
        <strong><%= message.user %></strong>: <%= message.text %> (Added: <%= message.added.toDateString() %>)
      </li>
    <% }); %>
  </ul>
  <a href="/new">Add New Message</a>
</body>
</html>
